*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;

}
.platinum-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border:4px solid #6600FF;
    margin: 15px 10px 10px 10px;
    
}
form{
    background-color: #74B14E;
    width: 100%;
    height: 650px;
    padding:30px 15px  10px 10px;
}
img{
    width: 700px;
    height: 650px;   
}
table{
    font-family: Georgia, sans-serif;
    width: 100%;
    margin-top: 25px;
    border: 3px solid #fff;
    padding: 5px;
    border-radius: 6px;
    /* height: 450px; */  
}
td{
    background-color: #DFBF9F;
    border-radius: 5px;
    padding: 6px; 
}
h2{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 6px;
    background-color: #f5f2f2;  

}
.info{
    /* color: #6600FF; */
    color: #C21807;
    font-weight: bold;
    text-decoration: none;
}
a, label{
    color: #6600FF; 

}
.input-width, select{
    width: 100%;
    padding: 2px;
    background-color: #f6f2f2;
    border: none;
    border: 1px solid gray;
    border-radius: 4px;
}

button{
    margin-top: 20px ;
    margin-bottom: 10px;
    padding: 7px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    background-color: #C21807;
    border-radius: 5px;
}
input{
    margin-right: 2px;
}

